<!-- note that the views must be scoped same as the controller -->
<p id="notice"><%= notice %></p>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h1>Courses</h1>
</div>

<% @courses.each do |course| %>
	<div>
		<div>
			<h4><%= course.title %></h4>
				<div>
					<!-- course image goes here -->
				</div>
				<div>
					<%= course.description %>
				</div>
				<div class="pt-2">
					<%= link_to 'sections', api_v1_course_sections_url(course), class: "btn btn-success"%>
				</div>
		</div>
	</div>
<% end %>
